/* COMMON STARTS */

.parallax-container {
    perspective: 2px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.parallax::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    transform-origin: center;
    background-size: 100%;
    z-index: -1;
}

.container {
    width: 768px;
    margin: 0 auto;
    text-align: center;
}

.even-section {
    background-color: #fff;
}

.title {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.white-title {
    color: #fff;
}

.yellow-title {
    color: #f1ad1d;
}

.description {
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
}

.even-section-title {
    color: #333;
    margin-bottom: 35px;
}

.even-section-description {
    color: #4d4943;
    font-size: 17px;
}

.descr-separator::after {
content: "";
display: block;
width: 60px;
height: 3px;
background-color: #f1ad1d;
margin: 0 auto;
margin-top: 52px;
}

.title-separator::after {
    content: "";
display: block;
width: 60px;
height: 3px;
background-color: #f1ad1d;
margin: 0 auto;
margin-top: 60px;
}

/* COMMON ENDS */

/* HEADER STARTS */

.header::after {
    background: url(../img/bg1.jpg) no-repeat;
    background-size: cover;
}

.main-title {
    color: #fff;
    font-size: 48px; 
    margin-bottom: 16px;
}

.main-title-description {
    color: #fff;
    font-family: Lato;
    font-size: 18px;
    margin-bottom: 28px;
}

.main-title-description {
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 18px;
}

.header {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding-bottom: 17%;
    padding-left: 5%;
}

.slogan {
    display: grid;
    width: 831px;
    box-sizing: border-box;
    grid-template-columns: 18% 82%;
} 
    
.slogan-first-part, .slogan-second-part {
    border: 1px solid #fff; 
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

.slogan-first-part {
    color: #f48e0b;
    background-color: #fff;
}

.slogan-second-part {
    color: #fff;
    background-color: rgba(0,0,0,0.2);
}

/* HEADER ENDS */

/* SECTION-1 STARTS */

.section-1 {
    padding-top: 112px;
    padding-bottom: 137px;
}

/* SECTION-1 ENDS */

/* SECTION-2 STARTS */

.section-2 {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
}

.section-2::after {
    background: url(../img/bg2.jpg) no-repeat;
    background-size: cover;
}

/* SECTION-2 ENDS */

/* SECTION-3 STARTS */

.section-3 {
    padding-top: 136px;
    padding-bottom: 180px;
}

/* SECTION-3 ENDS */

/* SECTION-4 STARTS */

.section-4 {
    position: relative;
    padding-top: 174px;
    padding-bottom: 114px;
}

.section-4::after {
    background: url(../img/bg3.jpg) no-repeat;
    background-size: cover;
}

.label-list {
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 58px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

/* SECTION-4 ENDS */

/* SECTION-5 STARTS */

.section-5 {
    padding-top: 157px;
    padding-bottom: 122px;
}

/* SECTION-5 ENDS */

/* SECTION-6 STARTS */

.section-6 {
    position: relative;
    padding-top: 130px;
    padding-bottom: 119px;
}

.section-white-description {
    margin-top: 60px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
}

.section-yellow-description {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #f1ad1d;
    line-height: 30px;
}

.section-white-description::after {
content: "";
display: block;
width: 281px;
height: 3px;
background-color: #fff;
margin: 0 auto;
margin-top: 44px
}

.section-6::after {
    background: url(../img/bg4.jpg) no-repeat;
    background-size: cover;
}

/* SECTION-6 ENDS */

/* SECTION-7 STARTS */

.section-7 {
    padding-top: 154px;
    padding-bottom: 179px;
}

/* SECTION-7 ENDS */






